<div class="container">

  <div class="row">
      <div class="col-md-4">
      </div>
    <div class="col-md-6">
  <div class="form form-row">
      <div class="col">
      <input type="text" [(ngModel)]="inputSymbol" ng-change="inputSymbol = (inputSymbol | uppercase)" placeholder="Search stock symbol" class="form-control">
  </div>

  <div class="col">
      <select class="form-control" [(ngModel)]="inputDuration">
        <option value="1m">1 Month</option> 
        <option value="3m">3 Months</option> 
        <option value="6m">6 Months</option> 
        <option value="1y">1 Year</option> 
      </select>
      </div>
  <div class="col">

    <button type="submit" class="btn btn-primary" (click)="symbolChanged()">Search</button>
    </div>
    </div>
  </div>
</div>

<div *ngIf="stockCompany" class="row">
  <div class="col-md-4">
    <img src="{{stockCompany.logo}}">
  </div>
    <div class="col-md-6">
      <label>{{stockCompany.companyName}}</label><br />
      <label>{{stockCompany.website}}</label><br />
      <label>{{stockCompany.sector}}</label><br />
     
    </div>
</div>

<div class="row">
  <div class="col-md-4">
      <h3>My Watched</h3>
      <button class="btn btn-primary" *ngIf="stockCompany" (click)="addWatched()">Add To Watchlist</button>
      <ul class="list-group">
          <li (click)="searchClick(wa.symbol)" class="list-group-item" *ngFor="let wa of (watchedItems | async)">{{wa.symbol}} - {{wa.companyName}}</li>
        </ul>
      <h3>Recent Searches:</h3>
      <ul class="list-group">
        <li (click)="searchClick(se.symbol)" class="list-group-item" *ngFor="let se of (searches | async)">{{se.symbol}} - {{se.companyName}} - {{se.date}}</li>
      </ul>
  </div>
  <div class="col-md-6">
  <div *ngIf="stockResults">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Close</th>
          <th>Change (%)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of stockResults">
          <td>{{s.date}}</td>
          <td>{{s.close}}</td>
          <td [ngClass]="(s.changePercent < 0)?'changeNegative':'changePositive'">{{s.changePercent}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  <div *ngIf="peers" class="col-md-2">
      <h3>Related:</h3>
      <div *ngFor="let r of peers">
        <button type="button" class="btn btn-default" (click)="setSelected(r)">{{r}}</button>
      </div>
    </div>
</div>
</div>