<div class="container">

  <div class="row">
    <div class="col-md-6 offset-md-3">
  <div class="form form-row">
      <div class="col">

    <input type="text" [(ngModel)]="inputSymbol" ng-change="inputSymbol = (inputSymbol | uppercase)" placeholder="Search stock symbol" class="form-control">
  </div>
  <div class="col">

      <select class="form-control" [(ngModel)]="inputDuration">
        <option value="1m">1 Month</option> 
        <option value="3m">3 Months</option> 
        <option value="6m">6 Months</option> 
        <option value="1y">1 Year</option> 
      </select>
      </div>
  <div class="col">

    <button type="submit" class="btn btn-primary" (click)="symbolChanged()">Search</button>
    </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
      <label>{{stockCompany.companyName}}</label><br />
      <label>{{stockCompany.website}}</label><br />
      <label>{{stockCompany.sector}}</label><br />
    </div>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3">
  <div *ngIf="stockResults">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Close</th>
          <th>Change (%)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of stockResults">
          <td>{{s.date}}</td>
          <td>{{s.close}}</td>
          <td [ngClass]="(s.changePercent < 0)?'changeNegative':'changePositive'">{{s.changePercent}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  <div *ngIf="peers" class="col-md-3">
      <h3>Related:</h3>
      <div *ngFor="let r of peers">
        <button type="button" class="btn btn-default" (click)="setSelected(r)">{{r}}</button>
      </div>
    </div>
</div>
</div>